*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.publicspace
{
padding:1rem;
}
.publicspace > span
{
    
   
    font-weight: bold;
    display: block;
}

.image-grid
{
    
    padding-top:2rem;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.image-card
{
    border-radius:15px;
    padding:0.5rem;
    background-color: white;
    box-shadow: 5px 5px 5px #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    margin-bottom: 1rem;
    
}
.image-card > img
{
    
    width:320px;
    height:250px;
    animation-duration: 1.5s;
}

.choices
{
    padding:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.likeBtn
{
    padding:0.5rem;
    background-color: white;
    border:1px solid #3dfc03;
    color:#3dfc03;
    font-weight:bold;
    cursor: pointer;
    outline:none;
    user-select: none;
}
.dislikeBtn
{
    padding:0.5rem;
    background-color: white;
    border:1px solid #fc0303;
    color:#fc0303;
    font-weight:bold;
    margin-left:1rem;
    cursor: pointer;
    outline:none;
    user-select: none;
}


.modal
{
    display: none;
    z-index: 1;
    position:fixed;
    width:100%;
    height:100%;
    padding-top:200px;
    top:0;
    left:0;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.8);
    user-select: none;
    outline:none;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color:white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #DB2777;
    text-decoration: none;
    cursor: pointer;
  }
  .add-filters
  {
      padding:0.5rem;
      background-color: black;
      color:#DB2777;
      outline:none;
      margin-top: 1.5rem;
      font-weight: bold;
      user-select: none;
      font-size: 0.80rem;
      border-radius: 10px;
      cursor:pointer;
      transition:0.3s;
      display: inline;

  }
  .add-filters:hover,
  .add-filters:focus
  {
      background-color:#DB2777;
      color:white;
  }

  .remove-filters
  {
    padding:0.5rem;
    background-color: #DB2777;
    color:white;
    outline:none;
    
    font-weight: bold;
    user-select: none;
    font-size: 0.80rem;
    border-radius: 10px;
    cursor:pointer;
    transition:0.3s;
    margin-left:0.5rem;

  }

  .remove-filters:hover,
  .remove-filters:focus
  {
      background-color: black;
      color:#DB2777;
  }

  .filterForm
  {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 80%;
      max-height: 80%;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      padding:1.5rem;
      outline: none;
      margin: 0 auto;
  }

  .filterForm button 
  {
      padding:0.25rem 0.5rem;
      background-color: black;
      border-radius: 10px;
      color:white;
      font-weight: bold;
      font-size: 0.7rem;
      outline: none;
      user-select: none;
      cursor: pointer;
  }